In [11]:
import pandas as pd
from prophet import Prophet

In [12]:
df_flights = pd.read_csv('../FlightData/flights_SFO_UA.csv')
df_planes = pd.read_csv('../PlaneData/MainlineFleet.csv')
df_holiday = pd.read_csv('../HolidayData/holidays_2023_2024.csv')
# df_weather

In [13]:
df_planes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1834 entries, 0 to 1833
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PLANE_MODEL  1819 non-null   object
 1   TAIL_NUM     1584 non-null   object
dtypes: object(2)
memory usage: 28.8+ KB

In [14]:
import pandas as pd

# Load the CSV files into DataFrames
df_express_fleet = pd.read_csv('../PlaneData/ExpressFleet.csv')
df_mainline_fleet = pd.read_csv('../PlaneData/MainlineFleet.csv')

# Concatenate the DataFrames from the CSV files
df_planes = pd.concat([df_express_fleet, df_mainline_fleet], ignore_index=True)

# Merge the concatenated DataFrame with df_flights
df_flights_plane = df_flights.merge(df_planes[['PLANE_MODEL', 'TAIL_NUM']], how='left', left_on='TAIL_NUM', right_on='TAIL_NUM')

# Print out all unique TAIL_NUM that don't have a PLANE_MODEL
missing_plane_model = df_flights_plane[df_flights_plane['PLANE_MODEL'].isna()]['TAIL_NUM'].unique()
print("Unique TAIL_NUM without a PLANE_MODEL:", missing_plane_model, "count:", len(missing_plane_model))

Unique TAIL_NUM without a PLANE_MODEL: ['N13110' 'N13138' 'N14102' 'N14242' 'N17133' 'N17229' 'N18119' 'N18220'
 'N215UA' 'N222UA' 'N228UA' 'N2331U' 'N2645U' 'N27205' 'N27421' 'N2747U'
 'N29124' 'N29129' 'N34137' 'N37413' 'N37419' 'N37466' 'N37504' 'N38454'
 'N38458' 'N38473' 'N39418' 'N41135' 'N417UA' 'N429UA' 'N437UA' 'N438UA'
 'N445UA' 'N457UA' 'N467UA' 'N468UA' 'N469UA' 'N472UA' 'N476UA' 'N477UA'
 'N48127' 'N487UA' 'N491UA' 'N57111' 'N68807' 'N69819' 'N75426' 'N76503'
 'N76504' 'N76529' 'N76532' 'N77542' 'N779UA' 'N78506' 'N785UA' 'N87512'
 'N14107' 'N14115' 'N14214' 'N14235' 'N19136' 'N19141' 'N21108' 'N2138U'
 'N2142U' 'N220UA' 'N26232' 'N33203' 'N37277' 'N37422' 'N37434' 'N37506'
 'N37510' 'N37513' 'N423UA' 'N441UA' 'N462UA' 'N475UA' 'N496UA' 'N53441'
 'N69806' 'N69816' 'N69818' 'N73259' 'N76514' 'N77430' 'N77535' 'N776UA'
 'N781UA' 'N787UA' 'N793UA' 'N12125' 'N14106' 'N2135U' 'N214UA' 'N27477'
 'N36469' 'N37263' 'N39415' 'N39423' 'N41140' 'N471UA' 'N489UA' 'N76505'
 'N76516' 'N77539' 'N775UA' 'N14118' 'N14240' 'N19117' 'N212UA' 'N2251U'
 'N225UA' 'N226UA' 'N26226' 'N36476' 'N37273' 'N37470' 'N427UA' 'N433UA'
 'N434UA' 'N461UA' 'N492UA' 'N58101' 'N66814' 'N68811' 'N68817' 'N73283'
 'N75435' 'N76533' 'N14120' 'N17126' 'N2136U' 'N213UA' 'N217UA' 'N33132'
 'N33209' 'N33264' 'N35204' 'N36444' 'N37471' 'N37508' 'N430UA' 'N444UA'
 'N455UA' 'N64809' 'N69810' 'N75436' 'N76508' 'N76528' 'N772UA' 'N773UA'
 'N81449' 'N12221' 'N17128' 'N216UA' 'N221UA' 'N223UA' 'N2352U' 'N36472'
 'N37274' 'N37456' 'N422UA' 'N454UA' 'N4901U' 'N67815' 'N73275' 'N75433'
 'N777UA' 'N780UA' 'N78438' 'N797UA' 'N12116' 'N17139' 'N24224' 'N26215'
 'N2748U' 'N37287' 'N37420' 'N37468' 'N424UA' 'N440UA' 'N442UA' 'N480UA'
 'N69813' 'N75429' 'N76515' 'N799UA' 'N12238' 'N13113' 'N17244' 'N18112'
 'N210UA' 'N27239' 'N28457' 'N34222' 'N37474' 'N37507' 'N415UA' 'N449UA'
 'N456UA' 'N47505' 'N66808' 'N73276' 'N796UA' 'N844UA' 'N87527' 'N12114'
 'N2749U' 'N33286' 'N36247' 'N421UA' 'N459UA' 'N474UA' 'N481UA' 'N53442'
 'N68821' 'N76269' 'N782UA' 'N78511' 'N78524' 'N79521' 'N14237' 'N209UA'
 'N33262' 'N431UA' 'N451UA' 'N67134' 'N76517' 'N77530' 'N78448' 'N78501'
 'N791UA' 'N87507' 'N17104' 'N17233' 'N2639U' 'N33289' 'N37298' 'N428UA'
 'N436UA' 'N466UA' 'N470UA' 'N47414' 'N68801' 'N76523' 'N774UA' 'N219UA'
 'N2534U' 'N446UA' 'N485UA' 'N68805' 'N769UA' 'N78509' 'N14230' 'N14231'
 'N2333U' 'N24212' 'N36207' 'N38257' 'N432UA' 'N493UA' 'N66803' 'N77538'
 'N206UA' 'N211UA' 'N229UA' 'N37290' 'N38424' 'N412UA' 'N425UA' 'N482UA'
 'N77520' 'N77525' 'N24202' 'N26210' 'N27213' 'N38467' 'N413UA' 'N73291'
 'N771UA' 'N77510' 'N79541' 'N87531' 'N11206' 'N12225' 'N27246' 'N38417'
 'N447UA' 'N460UA' 'N75428' 'N12109' 'N12218' 'N2243U' 'N34131' 'N416UA'
 'N479UA' 'N87513' 'N14228' 'N14249' 'N28478' 'N418UA' 'N484UA' 'N73251'
 'N76254' 'N768UA' 'N778UA' 'N78285' 'N14250' 'N2250U' 'N39416' 'N411UA'
 'N465UA' 'N54241' 'N76519' 'N76526' 'N794UA' 'N12216' 'N45440' 'N463UA'
 'N67812' 'N69804' 'N73299' 'N76265' 'N77295' 'N34455' 'N448UA' 'N464UA'
 'N75425' 'N77431' 'N795UA' 'N13248' 'N16217' 'N16234' 'N1902U' 'N26208'
 'N2644U' 'N38446' 'N495UA' 'N57439' 'N68802' 'N19130' 'N2140U' 'N35236'
 'N435UA' 'N478UA' 'N77537' 'N24211' 'N37253' 'N37255' 'N77258' 'N77518'
 'N798UA' 'N227UA' 'N33292' 'N37252' 'N458UA' 'N76522' 'N786UA' 'N25201'
 'N2737U' 'N39475' 'N486UA' 'N76502' 'N224UA' 'N473UA' 'N498UA' 'N86534'
 'N420UA' 'N33284' 'N76288' 'N17105' 'N38459' 'N73445' 'N38443' 'N426UA'
 'N77536' 'N784UA' 'N17245' 'N13227' 'N218UA' 'N37267' 'N2341U' 'N35271'
 'N68452' 'N33266' 'N38451' 'N439UA' 'N37409' 'N38268' 'N414UA' 'N36272'
 'N483UA' 'N494UA' 'N71411' 'N419UA' 'N63820' 'N2846U' 'N35260' 'N497UA'
 'N75432' 'N783UA' 'N788UA' 'N204UA' 'N490UA' 'N78540' 'N35407' 'N13750'
 'N30401' 'N37427' 'N403UA' 'N443UA' 'N792UA' 'N452UA' 'N404UA' 'N77296'
 'N36447' 'N37281' 'N73256' 'N39450' 'N73270' 'N406UA' 'N68453' 'N14219'
 'N405UA' 'N77261' 'N488UA' 'N402UA' 'N18243' 'N410UA' 'N39297' 'N401UA'
 'N453UA' 'N408UA' 'N409UA' 'N407UA' 'N79402' 'N32404' 'N72405' 'N37408'
 'N31412' 'N75410' 'N73406' 'N38403' 'N16709' 'N25705'] count: 446

In [15]:
df_flights_plane['PLANE_MODEL'].unique()

array([nan, '38M', '39M', '787-8', '787-9', '739ER', '753', '763ER',
       '772ER', '319', '752', '77W', '787-10', '764ER', '738'],
      dtype=object)

In [16]:
for origin, dest in df_flights_plane[['ORIGIN_CITY_NAME', 'DEST_CITY_NAME']].drop_duplicates().values:
    # Filter rows for the current combination of ORIGIN_CITY_NAME and DEST_CITY_NAME
    mask = (df_flights_plane['ORIGIN_CITY_NAME'] == origin) & (df_flights_plane['DEST_CITY_NAME'] == dest)
    
    # Find the first non-NaN PLANE_MODEL for the current combination
    plane_model = df_flights_plane.loc[mask, 'PLANE_MODEL'].dropna().unique()
    
    if len(plane_model) > 0:
        # Use the first non-NaN PLANE_MODEL if it exists
        df_flights_plane.loc[mask & df_flights_plane['PLANE_MODEL'].isna(), 'PLANE_MODEL'] = plane_model[0]

In [17]:
# Calculate the percentage of unique TAIL_NUM that have no model
unique_tail_nums = df_flights_plane['TAIL_NUM'].nunique()
unique_tail_nums_no_model = df_flights_plane[df_flights_plane['PLANE_MODEL'].isna()]['TAIL_NUM'].nunique()
percentage_unique_no_model = (unique_tail_nums_no_model / unique_tail_nums) * 100

# Calculate the percentage of all rows that have no model
total_rows = len(df_flights_plane)
rows_no_model = df_flights_plane['PLANE_MODEL'].isna().sum()
percentage_rows_no_model = (rows_no_model / total_rows) * 100

# Print the results
print(f"Percentage of unique TAIL_NUM that have no model: {percentage_unique_no_model:.2f}%")
print(f"Percentage of all rows that have no model: {percentage_rows_no_model:.2f}%")

Percentage of unique TAIL_NUM that have no model: 0.11%
Percentage of all rows that have no model: 0.00%

In [18]:
df_flights_plane

,ORIGIN_CITY_NAME,ORIGIN_AIRPORT_ID,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,TAIL_NUM,FL_DATE,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DEST_CITY_NAME,DEST_AIRPORT_ID,AIR_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,PLANE_MODEL
0,"San Francisco, CA",14771,UA,1665,N13110,2024-02-01,2024,2,1,4,"Boston, MA",10721,329.0,23:44:00,19.0,1.0,752
1,"San Francisco, CA",14771,UA,716,N13110,2024-02-01,2024,2,1,4,"Boston, MA",10721,314.0,08:17:00,-8.0,0.0,752
2,"San Francisco, CA",14771,UA,1999,N13138,2024-02-01,2024,2,1,4,"Denver, CO",11292,122.0,11:42:00,36.0,1.0,38M
3,"San Francisco, CA",14771,UA,2374,N14102,2024-02-01,2024,2,1,4,"Boston, MA",10721,314.0,13:30:00,15.0,1.0,752
4,"San Francisco, CA",14771,UA,1041,N14242,2024-02-01,2024,2,1,4,"San Diego, CA",14679,66.0,08:27:00,-8.0,0.0,39M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50235,"San Francisco, CA",14771,UA,246,N850UA,2023-10-31,2023,10,31,2,"Albuquerque, NM",10140,115.0,11:04:00,-6.0,0.0,319
50236,"San Francisco, CA",14771,UA,1581,N872UA,2023-10-31,2023,10,31,2,"Boise, ID",10713,70.0,08:34:00,-11.0,0.0,319
50237,"San Francisco, CA",14771,UA,1640,N881UA,2023-10-31,2023,10,31,2,"Dallas/Fort Worth, TX",11298,184.0,10:58:00,-8.0,0.0,319
50238,"San Francisco, CA",14771,UA,1107,N884UA,2023-10-31,2023,10,31,2,"Austin, TX",10423,185.0,08:37:00,-3.0,0.0,319
50239,"San Francisco, CA",14771,UA,1702,N884UA,2023-10-31,2023,10,31,2,"Dallas/Fort Worth, TX",11298,180.0,18:17:00,-8.0,0.0,319

In [19]:
df_flights_plane = df_flights_plane.dropna(subset=['PLANE_MODEL'])

In [20]:
flights_plane_csv_path = '/Users/judith.rethmann/Documents/MBS/PredictiveAnalytics/Model/flights_plane.csv'
df_flights_plane.to_csv(flights_plane_csv_path, index=False)
print(f"Combined CSV file saved as '{flights_plane_csv_path}'")

Combined CSV file saved as '/Users/judith.rethmann/Documents/MBS/PredictiveAnalytics/Model/flights_plane.csv'